<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScarpeCo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand" href="@Url.Action("Index", "Product")">ScarpeCo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Product")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Create", "Product")">Aggiungi Prodotto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        @RenderBody()
    </main>
    <footer class="footer mt-5 py-3 bg-primary fixed-bottom">
        <div class="container text-center">
            <span class="text-dark">&copy; 2024 - ScarpeCo</span>
        </div>
    </footer> 

    @RenderSection("Scripts", required: false)
</body>
</html>
